:host {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
}

.loading-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  .message {
    margin-top: 10px;
  }

  .progress-bar-container {
    width: 85%;
    flex: 1 1 100%;
  }

}

